.destination{
    padding: 4rem 6rem 0 6rem;
}
.destination h1{
    font-size: 2.5rem;
    text-align: center;
}
.entry-title{
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 0;
}
.first-dest{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
}
.first-dest p{
    line-height: 26px;
}
.first-dest-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.first-dest-reverse p{
    line-height: 26px;
}
.dest-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.dest-text h2{
    padding-bottom: 1rem;
}
.dest-img{
    display: flex;
    width: 50%;
    position: relative;
    justify-content: space-between;
}
.dest-img img{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.dest-img img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
@media screen and (max-width: 850px){
    .destination{
        padding: 4rem 2rem;
    }
    .entry-title{
        padding: 0.5rem 0;
        font-size: 1rem;
    }
    .destination h1{
        font-size: 1.8rem;
    }
    .first-dest{
        display: flex;
        flex-direction: column-reverse;
        margin: 2.5rem 0;
    }
    .first-dest-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .dest-text{
        width: 100%;
        text-align: justify;
    }
    .dest-img{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .dest-img img:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
    }
    .dest-text h2{
        font-size: 1.2rem;
        padding: 1rem 0 0.5rem 0;
    }
    .dest-text p{
        font-size: 1rem;
    }
}
